body {
    padding: 0;
    border: 0;
    font-family: 'Montserrat';
    color: #191919;
    background-color: #FFD12F;
}

* {
    box-sizing: border-box;
}

 @font-face {
        font-family: Montserrat;
        src: url(/fontes/Montserrat-Bold.ttf);

        font-family: RobotoLight;
        src: url(/fontes/RobotoCondensed-Light.ttf)
 }

.container-fluid{
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    background-color: black;
}

header img {
    border-radius: 50%
}

.menu {
    padding: 10px;
    margin: 10px;
    position: relative;
    flex-wrap: wrap;
    justify-content: space-between;
}

.menu a {
    display: block;
    text-decoration: none;
    text-align: center;
    color: white;
    padding: 20px;
    font-weight: bold;
    min-width: 150px;
}

.menu a:hover {
    background-color: #FFF23E;
    color: #191919;
}

.sectionbanner {
    max-width: 100%;
    margin: 10px;
}

.sectionbanner img {
    align-self: center;
    min-width: 100%;
    min-height: auto;
}

.itensboteco {
    padding: 10px;
    margin: 10px;
    position: relative;
    flex-wrap: wrap;
}

.menu-cardapio h2{
    text-align: center;
    font-size: 5em;
    padding: 20px;
}

.itenspai {
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    position: relative;
    padding: 10px;
}

.itenspai button{
    background-color: transparent;
    border: none;
}

.produto {
    width: 100%;
    height: auto;
    position: relative;

    border-radius: 50%;
}

button h3{
    padding-top: 20px;
}

.modal-content{
    background-color: #FFD12F;
}

.modal-header{
    border: none;
    color: #191919;
}

.modal-title{
    text-transform: uppercase;
}

.list-group li{
    background-color: #FFD12F;
    border: none;
    padding: .30rem 1rem;
}

.list-group li img{
    background-color: red;
    width: auto;
    padding: 0;
}

.sub-caption{
    color:blue;
    font-size: 10px;
}

.badge-primary{
    background-color: #FFF23E;
    color: #191919;
}

.nossahistoria {
    /* margin: 10px; */
    background-color: #191919;
}

.section_title span{
    font-family: 'RobotoLight';
    color: #FFAB3B;
}

.section_title h3{
    color:#FFD12F;
}

.historia-bar{
    font-family: 'RobotoLight';
    color:white;
}

.mapagoogle {
    margin: 10px;
}

.contact-info p{
    font-family: 'RobotoLight';
    color: black;
}

.gallery {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-width: 33%;
    -moz-column-width: 33%;
    column-width: 33%;
}

.galeria {
    margin: 10px;
}

.gallery .pics {
    -webkit-transition: all 350ms ease;
    transition: all 350ms ease;
}

.gallery .animation {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

@media (max-width: 450px) {
    .gallery {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
        -webkit-column-width: 100%;
        -moz-column-width: 100%;
        column-width: 100%;
    }
}

@media (max-width: 400px) {
    .btn.filter {
        padding-left: 1.1rem;
        padding-right: 1.1rem;
    }
}

.comentarios {
    align-self: center;
    min-width: 100%;
    min-height: auto;
    max-width: 100%;
    margin: 10px;
}