body {
    padding: 0 0 0 0;
    border: 0 0 0 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(252, 211, 167);
}

* {
    box-sizing: border-box;
}

header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    background-color: black;
}

header img {
    border-radius: 50%
}

.menu {
    padding: 10px;
    margin: 10px;
    position: relative;
    flex-wrap: wrap;
    justify-content: space-between;
}

.menu a {
    display: block;
    text-decoration: none;
    text-align: center;
    color: white;
    padding: 20px;
    font-weight: bold;
    min-width: 150px;
}

.menu a:hover {
    background-color: beige;
    color: #555;
}

.sectionbanner {
    max-width: 100%;
    margin: 10px;
}

.sectionbanner img {
    align-self: center;
    min-width: 100%;
    min-height: auto;
}

.itensboteco {
    padding: 10px;
    margin: 10px;
    position: relative;
    flex-wrap: wrap;
}

.itenspai {
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    position: relative;
    padding: 10px;
}

.produto {
    width: 100%;
    height: auto;
    position: relative;
}

.nossahistoria {
    margin: 10px;
    background-color: #555;
}

.mapagoogle {
    margin: 10px;
}

.gallery {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-width: 33%;
    -moz-column-width: 33%;
    column-width: 33%;
}

.galeria {
    margin: 10px;
}

.gallery .pics {
    -webkit-transition: all 350ms ease;
    transition: all 350ms ease;
}

.gallery .animation {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

@media (max-width: 450px) {
    .gallery {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
        -webkit-column-width: 100%;
        -moz-column-width: 100%;
        column-width: 100%;
    }
}

@media (max-width: 400px) {
    .btn.filter {
        padding-left: 1.1rem;
        padding-right: 1.1rem;
    }
}

.comentarios {
    align-self: center;
    min-width: 100%;
    min-height: auto;
    max-width: 100%;
    margin: 10px;
}